{% extends "base.html" %}

{% block content %}
        <div class="row">
            <div class="col-8">
                {% include('messages.html') %}
                <h2>Creamshop</h2>
                {% for clothes in clothes_list %}
                <h3><a href="{{ url_for('clothes.single_clothes', clothes_id=clothes.id) }}">{{ clothes.items }}</a></h3>
                <p> | Коментарии: {{ clothes.comments_count() }} </p>
                <p><img src={{clothes.clothes_img}} alt={{clothes.title}} width="150" height="90"></p>
                <p>{{ clothes.price }}</p>
                <p>{{ clothes.size }}</p>
                
                <hr />
                {% endfor %}
            </div>
            <div class="col-4"> 
                <h2>Прогноз погоды
                {% if weather %}
                    {{ weather['temp_C'] }}, ощущается как {{ weather['FeelsLikeC'] }}
                {% else %}
                    Сервис погоды временно недоступен
                {% endif %}</h2>
            </div>
    </div>
{% endblock %}